<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfe1de24-0032-46c7-b169-e00999c84ddb" Alias="DAEA6A~1" Level="2">
  <Info>
    <Parent Key="1117fcd7-ab25-4957-8e0d-59ccae4a7f13">DallE</Parent>
    <Path>/DallE/DAEA6A1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-27T00:41:39</CreateDate>
    <NodeName Default="DAEA6A~1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/elpodxzs/daea6a-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>