<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf29a88a-9e38-4ae0-9830-71f54d831a28" Alias="Image demo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImageDemo</Path>
    <Trashed>false</Trashed>
    <ContentType>imageSite</ContentType>
    <CreateDate>2023-10-27T00:33:11</CreateDate>
    <NodeName Default="Image demo" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e9de64b-f664-4d30-a318-2f3676d2a86e">ImageSite</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "32ba9d2b-214d-4003-9bb0-e80ccadb597b",
    "mediaKey": "4f6966c5-b898-4d89-b77a-57e6eb7ad161"
  }
]]]></Value>
    </image>
  </Properties>
</Content>