<?xml version="1.0" encoding="utf-8"?>
<Content Key="921704e2-acc9-457c-a3a1-a34509eb98ea" Alias="Slimsy Demo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SlimsyDemo</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2023-11-03T12:14:45</CreateDate>
    <NodeName Default="Slimsy Demo" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86086a94-8ade-418e-862b-a97958ebbb2a">SlimsyDemo</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
  </Properties>
</Content>