<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba42079f-b1cd-4c4a-abd2-31c33aedbfe8" Alias="Smidge demo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SmidgeDemo</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2023-11-03T12:13:14</CreateDate>
    <NodeName Default="Smidge demo" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="37d6d695-399c-4acf-adb9-3feea52a78ae">SmidgeDemo</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
  </Properties>
</Content>